:root
{
  --yellow: #c41b08;
    --orange : #0c0a06;
    --black : #0c42e3;
    --gray : #e5e8ef;
    --blueCard : #DDF8FE;
    --purple: rgb(75, 64, 81);
    --boxShadow : 0px 19px 60px rgba(111, 101, 101, 0.08);
    --orangeCard: rgba(87, 81, 71, 0.45);
    --smboxShadow: -79px 51px 60px rgba(104, 94, 94, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  

  